.idea/
head_movement/
results/
Videos separados 1440p-24fps/
Videos sem contagem regressiva nem agradecimentos 1440p-24fps/
0-coisas do dário/
0-coisas do marcelo/
0-github do afshin/
0-afshin-360dataset/
